

.header__codetime {
    display: flex;
    width: 100%;
    padding: 30px 0;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    margin: 0px auto; 
}

.header__codetime_title {
    font-size: 80px;
    color: black;
}

.header__codetime__logo {
    width: 150px;
}

.content{
    margin: 0px auto; 
    width: 100%; 
    max-width: 900px;

}

.content__timer {
    display: flex; 
    justify-content: space-around;
    height: 10%;
}

.content__timer___button__action {
    width: 15%;  
    font-size: 36px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    border: black 3px solid;
    border-radius: 10px;
}

.content__timer___button__input {
    width: 35%;  
    padding: 15px 0; 
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 3px;
    color: red; 
    font-size: 48px;
    background: transparent;
    border: none;
    border: black 3px solid;
}

h1 {
    padding: 30px 0;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
}

.list__assignments {
    border: 3px solid black;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto; 
    margin-top: 30px;
    padding: 15px;
    overflow: auto;
    height: 150px;
}

.list__assignments___item {
    display: flex; 
    height: 35px;
    cursor: pointer;
    color: black;
}

.list__assignments___item:hover {
    background: gray;
    color: white;
}

.list__assignments___item div {
    margin-right: 10px;
    display: flex;
}

.list__assignments___item div svg {
    font-size: 20px;
    margin-right: 5px;
    line-height: 35px;
    margin-top: 5px;
    padding-left: 10px;
}

.list__assignments___item div p {
    line-height: 35px;
}


@media (max-width: 700px) {
    .header__codetime {
        flex-direction: column-reverse;
    }

    .content__timer___button__input {
        font-size: 24px;
    }

    .header__codetime_title {
        font-size: 65px;
    }

    .list__assignments {
        width: 90%;
    }
    
}




