@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    font: 400 14px Roboto, sans-serif; 
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background: #282c34;
}

button {
    cursor: pointer;
}

